<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhungLV_Assig9.Properties.Settings.PatientConnectionString"
            connectionString="Data Source=.;Initial Catalog=Patient;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>